.faq h1 {
  color: rgb(59, 80, 63);
  font-size: 40px;
}

.faq a {
  font-weight: bold;
}

.question {
  color: rgb(59, 80, 63);
  font-size: 20px;
}

.question[aria-expanded="true"] .iconRight {
  display: none;
}

.question[aria-expanded="false"] .iconDown {
  display: none;
}
