.carouselImg {
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10%;
  border: 5px solid white;
}

.firstSection {
  background-color: white;
}

.firstSection img {
  width: 100%;
  border-radius: 10%;
}

.firstSection button {
  box-shadow: 3px 3px 10px 0px rgb(0 0 0 / 16%);
  background-color: white;
  border-radius: 5px;
  padding: 8px 24px;
  color: rgb(59, 80, 63);
  box-shadow: black;
  border: 2px solid transparent;
}
.firstSection button:hover {
  border: 2px solid rgb(59, 80, 63);
  color: rgb(59, 80, 63);
}

.tea {
  color: rgb(59, 80, 63);
}

.tea img {
  width: 100%;
  border-radius: 10%;
}

.tea button {
  box-shadow: 3px 3px 10px 0px rgb(0 0 0 / 50%);
  background-color: rgb(59, 80, 63);
  border-radius: 5px;
  padding: 8px 24px;
  border: 1px solid transparent;
  color: white;
}

.tea button:hover {
  color: rgb(174, 192, 177);
}

.smallScreenCarousel {
  display: none;
}

@media (max-width: 576px) {
  .bigScreenCarousel {
    display: none;
  }
  .smallScreenCarousel {
    display: block;
  }
}

.cooperFrameDiv {
  /* background-color: rgb(174, 192, 177); */
}